@import 'scales';
@import 'typography';
@import 'color';
@import 'size';
@mixin curve-border() {
	content: url('../images/meal-card__curve.svg');
	position: relative;
	top: -15px;
	left: -5px;
}
.container {
	padding: 0;
	margin: 0;
	background-color: #f7f7f7;
	.header {
		margin: 50px 20px 0;
		h3 {
			font-size: 16px;
		}
	}
}
.meals {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	max-width: $meals-width;
	.meal {
		border: 1px solid #e8e8e8;
		margin: 0 auto 10px auto;
		max-width: $meal-width;
		height: $meal-height;
		position: relative;
		overflow: hidden;
		.menu-panel {
			&:before {
				@include curve-border();
			}
			width: 100%;
			display: block;
			position: absolute;
			background-color: $button-color-white;
			z-index: 10;
			bottom: 5px;
			.tags {
				position: absolute;
				top: -28px;
				width: 100%;
				text-align: center;;
				div {
					display: inline-block;
					border: 0;
					margin: 0;
					height: 25px;
					width: 25px;
	    		text-align: center;
				}
			}
		}
		.name {
			font-size: 14px;
			position: absolute;
			color: #606060;
			top: -63px;
			text-align: center;
			width: 100%;
			max-width: 264px;
			line-height: 14px;
			cursor: pointer;
		}
		.image {
			max-width: $meal-dish-width;
			z-index: -1;
			margin-left: -13%;
		}
		.description {
			color: $text-description-color;
			font-size: $text-content;
			height: $text-content-height;
			max-height: $text-content-height;
			margin: -10px 16px 10px;
			text-align: left;
			overflow: hidden;
		}
		.add-order{
			width: 205px;
			color: $button-color-white;
			padding: 3px 12px;
			background-color: $button-color-blue;
			margin: 0 16px;
			font-size: 12px;
			font-style: italic;
			border-radius: 0;
			display: block;
		}
		.price-wraper {
			text-align: center;
			margin-left: -30px;
			.price {
				position: absolute;
				margin-left: -20px;
				color: $button-color-white;
				padding: 3px 12px;
				background-color: $button-color-blue;
				border-radius: 0;
				font-size: 12px;
			}
		}
		span {
			font-size: .7em;
    	margin: 0 19px;
			color: $text-small-color;
		}
		.expand-icon{
			cursor: pointer;
			background: url('../images/expand-button.svg');
			width: 33px;
			height: 12px;
			display: block;
			position: absolute;
			right: 0;
    	top: 40px;
		}
		.panel-background {
			opacity: .7;
			filter:alpha(opacity=70);
  	  -moz-opacity:0.7;
			-webkit-opacity:0.7;
			background-color: $button-color-white;
			height: 166px;
			width: 100%;
			position: absolute;
			bottom: 0;
			&:before {
				@include curve-border();
			}
		}
	}
	& .expanded {
		.menu-panel {
			.description {
				height: $text-content-expanded-height;
				max-height: $text-content-expanded-height;
				overflow-y: auto;
			}
		}
		.panel-background {
			cursor: pointer;
			height: 280px;
		}
	}
}
