<order-bar></order-bar>
<ul class="meals">
    <li class="meal" ng-repeat="meal in menu.meals" ng-class="{'expanded': expandPanel}">
			<div class="price-wraper">
				<p class="price btn">{{meal.price | currency:"£"}}</p>
			</div>
			<img class="image" ng-src="{{meal.primaryImageUrl}}">
			<div class="menu-panel">
        <h4 class="name" ng-click="expandPanel=false">{{meal.name}}</h4>
				<menu-tags class="tags" tags="meal.tags"></menu-tags>
				<span class="expand-icon" ng-show="showEllipsis(meal.description) && !expandPanel" ng-click="expandPanel=true"></span>
      	<p class="description">{{meal.description}}</p>
				<p class="add-order btn" ng-click="addOrder(meal)">Add To You Order</p>
				<span ng-if="meal.tags">{{meal.tags.length}} options availible</span>
			</div>
			<div class="panel-background" ng-click="expandPanel=false"></div>
    </li>
</ul>
